[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
toml = "*"
tinydb = "*"
pydantic = "*"
python-dotenv = "*"
python-i18n = {extras = ["yaml"], version = "*"}

[dev-packages]
pytest = "*"
tox = "*"
pytest-cov = "*"
flake8 = "*"

[requires]
python_version = "3"

[scripts]
start = "python main.py"
